$background-header:  #b3d4f5;
$background-footer: #e4c1d9;
$color-texto-principal: #2f0c4c;
$color-texto-secundario:  rgb(7, 0, 61);
$color-texto-titulos: #c06aa5;
$tipografia-principal:'Satisfy', cursive;
$tipografia-secundaria:'Fira Sans Condensed', sans-serif;