
/* BODY */
.body {  
    @include medidas (100%,auto);
    background-image: url(../assets/foto/fondo.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    flex-wrap: wrap;
} 
/* LOGO DE WATSSAPP */
.varWatt{
    position: fixed;
    line-height: 55px;
    bottom: 30px;
    right: 1%;
    z-index: 100;
}
.varWatt img {
    width: 140px;
}